<div class="state_form">
	State ID: <%= f.text_field :id, disabled: true, class: "state_id" %>
	<%= f.label :name, "State" %><%= f.text_field :name %>
	<%= f.label :description %><%= f.text_field :description %>
	<%= f.label :action_type %>
	<%= f.collection_select :action_type_id, ActionType.all, :id, :name %>
	<%= f.label :form_name %><%= f.text_field :form_name %>
	<%= f.link_to_remove "remove state", class: "btn btn-small btn-danger" %>
	
	<%= f.fields_for :actions, f.object.actions.order(:id) %>
	<div><%= f.link_to_add "Add an action", :actions, class: "btn btn-small btn-success" %></div>
</div>
