<% provide(:title, @program.name)%>
<% content_for :head do %>
<% end %>
<div class="container-fluid">
	<h4>
		<%= @program.name %><br/>
		<%= @location.name %>
	</h4>
	<div class="row-fluid">
		<div class="span12">
			<div>
				<%= render "shared/show_address", address: @location  %>
				<strong>Phone: <%= @location.phone %></strong>
			</div><br>
			<%  @url = "http://maps.googleapis.com/maps/api/staticmap?zoom=14&size=500x250&maptype=roadmap&markers=color:blue|label:S|"+
						"#{@location.latitude}"+","+"#{@location.longitude}"+
						"&sensor=false"
			%>
		
			<div><img src="<%= @url %>"></div>
		</div>
	</div><br><br>
	<%= link_to "Back", :back, class: "btn btn-large btn-primary"%>	
	<a href="javaScript:clickDone()" class="btn btn-large btn-primary">Done</a>
</div>
