<% provide(:title, @program.name)%>
<% content_for :head do %>
<% end %>
<div id="st_final">
	<h4>
		<%= @program.name %>
	</h4>
	<h5>
		<%= @location.name %>
	</h5>
	<div class="row-fluid">
		<div class="span12">
			<div>
				<%= render "shared/show_address", address: @location  %>
				<div class="program_phone">Phone: <%= @location.phone %></div>
			</div>
			<%  @url = "http://maps.googleapis.com/maps/api/staticmap?zoom=14&size=500x250&maptype=roadmap&markers=color:blue|label:S|"+
						"#{@location.latitude}"+","+"#{@location.longitude}"+
						"&sensor=false"
			%>
		
			<div class="program_map"><img src="<%= @url %>"></div>
		</div>
	</div>
	<%= link_to "Back", :back, class: "btn btn-large btn-primary btn-back"%>	
	<a href="javaScript:clickDone()" class="btn btn-large btn-primary btn-done">Done</a>
</div>
