<% provide(:title, 'Helping-Hands')%>  
<div id="st_program">
	<h3><%= @workflow.name %></h3>
	<h4>This program might work best for you.</h4>	

	<% if !@programs.nil? %>

		<div class="row"/>
			<div class="program_map"><img id="img_map"/></div>
			<div class="program_list">
			<% markers = "" %>
			<% @programs.each do |pro| %>
				<h5><%= pro.name %></h5>
				<div><%= link_to "More Information", pro.url, target: "blank" %></div>
				<% if pro.reviews.count > 0 %>
					<div class="program_review">
						<%= link_to reviews_path(prog: pro.id) do %>
							<%= image_tag "Stars-#{pro.reviews.average('review_score').ceil}.png", alt: "" %>
							<%= pluralize(pro.reviews.count, "review") %>
						<% end %>
					</div>					
				<% end %>
				<ul class="program_lists">
					<% pro.agency.locations.limit(10).each do |loc| %>
						<li class="program_list_item">
							<div class="program_name"><%= loc.name %></div>
							<div class="location_review">
								<% if loc.reviews.count > 0 %>
									<div class="program_review">
									<%= link_to reviews_path(prog: pro.id, loc: loc.id) do %>
										<%= image_tag "Stars-#{loc.reviews.average('review_score').ceil}.png", alt: "" %>
										<%= pluralize(loc.reviews.count, "review") %>
									<% end %>
									</div>
								<% end %>
							</div>
							<%= render "shared/show_address", address: loc  %>
							<%= link_to "Let's Contact Them", final_workflow_state_path(prog: pro.id, loc: loc.id), class: "btn btn-small btn-primary"%>

							<%
								markers +=  "&"+
											"markers=color:blue|label:S|"+
													 "#{loc.latitude}"+","+"#{loc.longitude}"
							%>
						</li>
					<% end %>
				<ul>
			<% end %>
			</div>
			<%  @url = "http://maps.googleapis.com/maps/api/staticmap?size=500x250&maptype=roadmap"+
							"#{markers}"+
							"&sensor=false"
			%>
		</div>
		<script type="text/javascript"> 
		  $(function() { 
		  	$('#img_map').attr('src', String("<%= @url %>").replace(/&amp;/g, "&")); 
		  }); 
		</script>					
	<% end %>
</div>