<% provide(:title, 'Helping Hands')%>  
<% content_for :head do %>
<script type="text/javascript">
	function take_action(nextStateID, saveAction){
		$("#next_state_id").val(nextStateID);
		$("#save").val(saveAction);
		//return true;
	}

	function take_value(nextStateID, saveAttribute){
		$("#next_state_id").val(nextStateID);
		$("#save").val(saveAttribute + $("#input_value").val());
	}
</script>
<% end %>
<div id="st_show">
	<h3><%= @workflow.name %></h3>
	<h4><%= @state.description.html_safe %></h4>	
	<% if @state.action_type.name == "YesNo" %>
		<%= form_tag(workflow_state_path(@workflow_id, @state.id), method: "get") do %>
			<%= hidden_field_tag "save" %>
			<%= hidden_field_tag "next_state_id" %>
			<% @actions.each do |ac| %>
				<%= button_tag 	ac.name, name: "action_id", value: ac.id, 
				onclick: "take_action('#{ac.next_state_id}','#{ac.save_attr}');", class: "btn btn-medium btn-primary" %>
			<% end %>
		<% end %>
	<% elsif @state.action_type.name == "InputForm" %>
		<%= form_tag(workflow_state_path(@workflow_id, @state.id), method: "get") do %>
			<% if @state.form_name == "show_household" %>
				<%= select_tag "input_value", 
				options_for_select([[1,1], [2,2], [3,3], [4,4], [5,5], [6,6], [7,7], [8,8], [9,9]]) %><br/>
			<% elsif @state.form_name == "show_monthly_income" %>
				<%= text_field_tag "input_value" %><br/>
			<% end %>
			<%= hidden_field_tag "save" %>
			<%= hidden_field_tag "next_state_id" %>
			<%= button_tag "Next", name: "action_id", value: @actions.first.id, 
							onclick: "take_value('#{@actions.first.next_state_id}','#{@actions.first.save_attr}');",
							class: "btn btn-medium btn btn-primary" if @actions.count > 0 %>
		<% end %>
	<% elsif @state.action_type.name == "FAQ" %>
		<%= form_tag(workflow_state_path(@workflow_id, @state.id), method: "get") do %>
			<% @actions.each do |ac| %>
				<% if !ac.next_state_id.nil? %>
				<%= link_to ac.name, workflow_state_path(@workflow.id, ac.next_state_id), name: "action_id", value: ac.id, class: "btn btn-medium btn-primary" %>
				<%end%>

			<% end %>
		<% end %>
	<% end %>
</div>
