<h3>Reviews for <%= @program.name %> </h3>
<h4><%= "at #{@location.name}" unless @location.nil? %> </h4>
<ul class="review_list">
  <% @reviews.each do |rw| %>
  <li class="review_item">
    <%= image_tag "Stars-#{rw.review_score}.png", alt: "" %><br>
    <%= rw.review_text %><br>
    <i class="icon-time"></i> <%= rw.created_at %></em>
  </li>
  <% end %>
</ul>
<A HREF="#" onClick="history.back();return false;" class="btn btn-large btn-primary btn-back">Back</A>
