<% provide(:title, "Review " + @program.name)%>
<div class="row">
	<h3>Help Other fellows with your review.</h3>
	<h4>How was your experience with <strong><%= @program.name %></strong> at <strong><%= @location.name %></strong>?</h4>
	<%= render "shared/error", error: @review  %>
	<div class="span12">
		<%= form_for @review do |f| %>
			<%= hidden_field_tag :prog, @program.id %>
			<%= hidden_field_tag :loc, @location.id %>
	
			<%= f.text_area :review_text, rows: 3, cols: 10 %>

			<%= f.label  :review_score, "Rating (1 = worst, 5 = best)" %>
			<%= f.select :review_score, options_for_select([[1,1], [2,2], [3,3], [4,4], [5,5]], 5) %>
			<h4>Give other fellows some encouraging thoughts.</h4>
			<%= text_area_tag :encouragement, nil, rows: 2, cols: 10  %><br/>
					
			<%= f.submit "Submit Review", class: "btn btn-medium btn-primary" %>
			<%= link_to "Not Right Now", alldone_path(prog: @program.id), class: "btn btn-medium btn-primary" %>
		<% end %>
	</div>
</div>
