<!DOCTYPE html>
<html>
	<head>
	  <title><%= content_for?(:title) ? yield(:title) : "Helping Hands" %></title>
	  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Helping Hands" %>">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link href="assets/bootstrap-responsive.css" rel="stylesheet">
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
		<!--[if lt IE 9]>
		<script src="assets/html5shiv.js"></script>
		<![endif]-->
	  <%= yield(:head) %>
	</head>	
	<body>
	<%= render "layouts/header" if !content_for?(:hide_header) %>
	<div class="container">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
		<%= yield :scripts %>

		<%= debug(params) if Rails.env.development? %>
	</div>
	</body>
</html>
